.btn {
    background-color: #ff6224;
}

footer {
    padding: 15px;
    bottom: 0;
}


main {
    background-color: white;
}

a {
    text-decoration: none;
}



button {
    width: 20%;
    height: 12%;
}

a {
    text-decoration: none;
}

