a {
    text-decoration: none;
}


svg {
    color: rgb(255, 128, 64);
}

.hoverable:hover {
    background-color:rgb(255, 236, 200);
  }

  input {
  	margin: 0;
  }
  
  
.naranja {
	 background-color:rgb(255, 193, 122);
}


.activo {
	 background-color:rgb(255, 193, 122);
}


@media (max-width: 750px) {
    .desaparece {
        display: none; 
    }
}

